:root {
    --color: black;
    --bgcolor: linear-gradient(to right, rgba(0, 128, 128, 0.35), rgba(102, 51, 153, 0.45));
    --error-message-bgcolor: red;
    --nvl-drop: rgb(120, 182, 182);
   /* --iv: hue-rotate(-110deg); */
}

html,body{min-height: 100%;filter: var(--iv);}
@media (prefers-color-scheme: dark) {
  :root {
   --color: white;
   --bgcolor: black;
  }
  body {
    background: linear-gradient(to right, rgba(23, 40, 40, 0.35), rgba(102, 51, 153, 0.45));
  }
  a {color: rgb(24, 109, 228);}
}
* {outline: none;}
body{background: var(--bgcolor); font-size: 1.25rem;word-break: break-word; color: var(--color);}
section.main { padding: 0em 0.25em;}
a.nav {display: inline-block; font-size: 1rem; margin: 8px; padding: 6px 12px; box-shadow: 1px 3px 6px maroon; background: rgba(130, 234, 123, 0.2); background: rgba(165, 196, 193, 1); }
a.nav:hover{filter: hue-rotate(40deg);}
iframe{min-height: 400px; width: 100%; border: 0px; outline: none; overflow: auto; scrollbar-width: none; -moz-scrollbars: none;}
iframe::-webkit-scrollbar {display: none;}
table{max-width: 100%; overflow: scroll;border-collapse: collapse;}
table.standard, td {border: 3px ridge black;outline: none;}
hide,hidden,.hidden,.h{display:none;visibility: hidden;}
h3.under{text-decoration: underline;}
input.var{min-width: 0px; max-width: 20px;outline: none; border: none; height: 100%;background: transparent;}
input.score {color: var(--color)}
td:focus{background:white;}
td{text-align: center;}
select{padding: 0.5em; outline: none}
a.red{background: #6739ce; color: darkorange}
a.orange{background:#08ab2f; color:navy;}
a.active{background: #8abf45; color: black; cursor:text;}
a.active.nav:hover {filter: none}
a.hidden{display: none; visibility: hidden; width: 0px; height: 0px;}
a.black{background: #90acf5}
a.white{background:#ace1f3}
a.plain{text-decoration: none; color: inherit;}
mark {background-color: rgba(255,255,100,1);}
td{padding: 3px;}
td.head{font-family: cursive; background: orange; color: teal}
td.move{background:#88ae90;}
#wkcalc{font-weight: bold; color: blue;}
span.info{color: brown; font-family: times; border: 1.5px solid #78aeff; padding: 5px;}
.promptinput {cursor: pointer;}
.valid {color: rgb(36, 132, 36)}
.invalid {color:rgb(232, 79, 45)}
.v{visibility: hidden;}
code.mrk{font-family: inherit; word-wrap: break-word;}
code.thin{font-size: 87.5%; word-wrap: break-word;}
img{max-width: 100%;margin: auto; display: block;}
.descrip{box-shadow: 0px 4px 7px 7px #928cef; font-size: 120%;padding: 10px;}
.mtheight {max-width: 0em; display: inline-block;visibility:hidden;}
footer{background: rgba(100, 140, 250, 0.2); padding: 10px; margin-top: 10px; clear: both; position: relative;}

.loader {
    border: 0.167em solid var(--color);
    border-radius: 50%;
    border-top: 0.167em solid transparent;
    border-block-style: none;
    width: 1em;
    height: 1em;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  .bigger{
    width: 2em !important;
    height: 2em !important;
    border-width: 0.25em !important;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
















  .verdana {
    font-family: Verdana;
  }
  
  .modal__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000000000000000;
  }
  
  .modal__window {
    max-width: 80vw;
    background: #ffffff;
    border: 1px solid #ffffff;
    font-size: 0.5em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    overflow: auto;
  }
  
  .modal__titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(218, 183, 97);
  }

  .modal__titlebar.error {
    color: white;
    background: var(--error-message-bgcolor);
  }
  
  .modal__titlebar.notice {
    background: rgb(85, 115, 155);
    color:white!important;
  }

  .modal__title {
    margin-left: 15px;
    font-weight: bold;
  }
  
  .modal__close {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: transparent;
    color: #eeeeee;
    cursor: pointer;
  }
  
  .modal__close:active {
    transform: scale(0.9);
  }
  
  .modal__content {
    padding: 0em;
    font-size: 0.9em;
    overflow: auto;
    color: black;
  }



  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content {
    display: none;
    /*background-color: var(--nvl-drop);*/
    background-blend-mode: inherit;
    position: absolute;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 100;
    word-wrap: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }