:root{--el-primo-gradient:linear-gradient(
    to right,
    rgba(142, 187, 102, 0.25),
    rgba(220, 223, 28, 0.25),
    rgba(196, 138, 63, 0.25)
  );--color:black;--opcolor:white;--bgcolor:var(--el-primo-gradient);--error-message-bgcolor:red;--nvl-drop:#78b6b6;--light-bg-color:var(--el-primo-gradient);--dark-bg-color:#1c1b22;--light-color:black;--dark-color:white;--input-padding:0.5em;--brdr:0.25em;--dark-wrap:#3c3c3cbf;--light-wrap:#eeead480;--light-bx-sh:2px 2px 8px #00000040;--dark-bx-sh:-2px -2px 8px inset #ffffff40;--dark-link-color:#186de4}@media(prefers-color-scheme:dark){:root{--color:var(--dark-color);--opcolor:black;--bgcolor:var(--dark-bg-color)}}