:root {
 --error-message-bgcolor: red;
}

.verdana {
    font-family: Verdana;
  }
  
  .modal__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000000000000000;
  }
  
  .modal__window {
    max-width: 80vw;
    background: #ffffff;
    border: 1px solid #ffffff;
    font-size: 0.5em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    overflow: auto;
  }
  
  .modal__titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(218, 183, 97);
  }

  .modal__titlebar.error {
    color: white;
    background: var(--error-message-bgcolor);
  }
  
  .modal__titlebar.notice {
    background: rgb(85, 115, 155);
    color:white!important;
  }

  .modal__title {
    margin-left: 15px;
    font-weight: bold;
  }
  
  .modal__close {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: transparent;
    color: #eeeeee;
    cursor: pointer;
  }
  
  .modal__close:active {
    transform: scale(0.9);
  }
  
  .modal__content {
    padding: 0em;
    font-size: 0.9em;
    overflow: auto;
    color: black;
  }

  pre {word-wrap: break-word; white-space: pre-wrap;}