/* App layout */

html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-flow: column;
    color: #fff;
    font: normal 14px Roboto, sans-serif;
    background-color: #282a36;
}
* {
    font-variant-ligatures: none;
}

#editor {
    flex-grow: 1;
    margin-top: -3px;
    overflow: auto;
}

#controls,
#copy,
footer {
    background-color: #3b3b47;
    z-index: 10;
}

#progress {
    min-height: 3px;
    background: #ff79c6;
    z-index: 15;
    width: 0;
}

.hidden,
select,
#copy:not(.hidden) + #controls,
body.readonly .hide-readonly,
body:not(.readonly) .show-readonly,
body.readonly:not(:hover) #footer {
    display: none;
}

#copy-link {
    font-family: JetBrainsMono, sans-serif;
    width: 100%;
}

/* Styling */
.shadow-bottom {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 10px;
}
.shadow-top {
    box-shadow: rgba(0, 0, 0, 0.15) 0 -3px 10px;
}
a,
a:hover,
a:active,
a:focus {
    color: #fff;
    outline: none;
}
a.plain:hover{border-bottom: 0px solid rgba(255, 255, 255, 0.5);}
#controls a,
#footer a {
    text-decoration: none;
}
#controls a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.CodeMirror {
    height: 100%;
    font-family: JetBrainsMono, sans-serif;
}
h1 {
    font: normal 24px JetBrainsMono, sans-serif;
    white-space: nowrap;
}
.mono {
    font-family: JetBrainsMono, sans-serif;
}
.pink {
    color: #ff79c6;
}

/* Modals */

.modal {
    display: none;
}
.modal.is-open {
    display: block;
}
.modal-content {
    background-color: #3b3b47;
    max-width: 600px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}
.modal-content .additional-info {
    opacity: 0.75;
    font-style: italic;
    margin-top: 15px;
    font-size: 0.95em;
}
.modal-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form elements */

#controls .ss-main {
    width: 180px;
}

.ss-main .ss-single-selected,
button,
input[type='text'],
input[type='search'] {
    background-color: #3b3b47 !important;
    color: #fff !important;
    border-radius: 2px !important;
    border: 1px solid #ccc !important;
    font: normal 14px Roboto, sans-serif;
    height: 26px !important;
    outline: none;
}

input[type='checkbox']{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}

input::-webkit-search-cancel-button {
    display: none;
}
input::-moz-selection {
    background-color: rgba(90, 95, 128, 0.99);
}
input::selection {
    background-color: rgba(90, 95, 128, 0.99);
}
button {
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.ss-content {
    background-color: #3b3b47;
    color: #dedede;
    font-size: 14px;
}
.ss-content .ss-disabled {
    background-color: #3b3b47 !important;
}

button.fixed {
   min-width: 24px;
   max-width: 24px;
}

/* Fonts */
@font-face {
    font-family: 'JetBrainsMono';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Icons */

@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 21px;
}
.icon-edit {
    font-size: 12px;
}

.icon-question:before {
    content: '\e900';
}
.icon-github:before {
    content: '\e901';
}
.icon-edit:before {
    content: '\e903';
}
.icon-notes:before {
    content: '\e902';
}
.icon-wrap-text:before {
    content: '\e905';
}
